html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body.stm-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body.stm-body .main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body.stm-body .middle-content-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #EEE;
  padding: 20px;
}

.header-wrap {
  background-color: #333;
  background-image: url(/img/footer_lodyas.png);
  background-size: 600px 600px;
}

.header-wrap .logo-wrap {
  padding: 10px;
}

.header-wrap .logo-wrap img {
  max-width: 220px;
}

.sidebar-wrap {
  background-color: #DDD;
}

.footer-wrap {
  background-color: #333;
  background-image: url(/img/footer_lodyas.png);
  background-size: 600px 600px;
  padding: 15px 0;
  color: #EEE;
}

