// Screen Sizes
$screen-sm: '768px';

// Brands
// $brand-primary: #20BDFF;
// $brand-primary: darken( $brand-primary, 8%);
// $color-green: #20BF55;
// $color-green: #56E39F;

$brand-primary: #1B9AAA;
//rgba(27, 154, 170, 1)
$color-green: #06E5AA;
//rgba(6, 229, 170, 1)
$color-red: #EF476F;
//rgba(239, 71, 111, 1)
$brand-fourth: #FFC43D; // yellow
//rgba(255, 196, 61, 1)
$brand-fifth: #E36397; // light purple
//rgba(227, 99, 151, 1)


$brand-danger: $color-red;

$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
//$brand-danger: #bf5329;