body.stm-body.about {
    .middle-content-wrap {
        background-color: #222;
        background-image: url(/img/about-us.jpg);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center;
        @media (min-width: $screen-md) {
            background-size: 100% 100%;
        }
        h1.title {
            display: none;
        }
        .about-page {
            .about-gs-wireless {
                color: #fff;
                font-size: 1em;
                padding: 0 0 30px 0;
                h1 {
                    font-size: 2em;
                    line-height: 1.3em;
                    font-weight: 700;
                }
                h2 {
                    margin-top: 5px;
                    font-size: 1.3em;
                    font-weight: 700;
                }
            }
            .video-wrap {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .video-wrap-inner {
                    //padding: 3px;
                    background-color: #ccc;
                    border: 5px solid #ccc;
                    border-bottom: none;
                    margin-bottom: 20px;
                    //max-width: 300px;
                }
            }
        }
    }
}
