body.stm-body.about {
    .middle-content-wrap {
        //background-color: #222;
        //background-image: url(/img/about-us.jpg);
        //background-repeat: no-repeat;
        //background-size: auto 100%;
        //background-position: center;
        // @media (min-width: $screen-md) {
        //     background-size: 100% 100%;
        // }
        h1.title {
            display: none;
        }
        .about-page {
            .about-gs-wireless {
                //color: #fff;
                font-size: 1em;
                padding: 0 0 30px 0;
                h1 {
                    font-size: 1.3em;
                    margin-bottom: 2px;
                    font-weight: 700;
                }
                h2 {
                    font-size: 1.3em;
                    margin-top: 15px;
                    margin-bottom: 2px;
                    font-weight: 700;
                }
            }
            // youtube iframe video margin fix
            // iframe: display block
            // fix 1px extra bottom margin with bg color and no bottom border
            .video-wrap {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .video-wrap-inner {
                    margin-bottom: 20px;
                    border: 1px solid #ddd;
                    border-bottom: none;
                    iframe {
                        background-color: #ddd;
                        display: block;
                        max-width: 100%;
                    }
                }
                @media (min-width: $screen-lg) {
                    justify-content: space-between;
                }
            }
        }
    }
    // .about-img-wrap {
    //     background: #395a94;
    //     img {
    //         width: 100%;
    //         display: block;
    //     }
    // }
}
