body.stm-body.about {
    .middle-content-wrap {
        background-color: #333;
        background-image: url(/img/about-us.jpg);
        //background-size: 100% cover contain;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        // .about-page {
        //     background-color: blue;
        // }
    }
}
