// extends grid.scss
.carriers-wrap	{

	a.carrier-wrap {

		.flex-item {

			&.carrier-name {
				font-size: 1.1em;	
				flex: 1 1 auto;
				padding: 0 20px;
			}

			&.icon-wrap {

				.fa-mobile-alt {
					font-size: 2em;
				}
			}
		}
	}
}