.cart-wrapper {
    //background: tomato;
    display: flex;
    //background: $info;
    background: darken($product-blue, 18%);
    padding: 2em;
    height: 100%;
    .cart-wrapper-inner {
        //padding: 1em;
        border-radius: $border-radius;
        overflow: hidden;
        box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
        //border: 1px solid #eee;
        h3 {
            //color: darken($info, 11%);
            color: darken($product-blue, 10%);
            background: #ddd;
            text-align: center;
            font-size: 1.1em;
            text-transform: uppercase;
            font-weight: 600;
            //border-bottom: 2px solid #ddd;
            padding: 0.3em 0 0.4em;
            margin-bottom: 0.4em;
            i {
                margin-left: 0.1em;
            }
        }
    }
    .cart-wrapper-left {
        background: #f7f7f7;
        flex: 0 1 75%;
        @media (min-width: $screen-md) {
            margin-right: 2em;
        }
    }
    .cart-wrapper-right {
        flex: 0 1 25%;
        background: #f7f7f7;
    }
}
.stm-cart {
    .modal {
        z-index: 100000;
    }
    #payment-complete-notification {
        margin: 1em;
        display: none;
    }
    //@include product_bg;
    .stm-cart__item {
        display: flex;
        align-items: center;
        font-size: 0.8em;
        &.stm-cart__item--header {
            padding: 1em 1em 0.5em;
            font-weight: 600;
            color: #777;
            font-size: 0.9em;
        }

        &.stm-cart__item--body {
            font-weight: 600;
            padding: 1em;
            border-top: 1px solid #ddd;
            .stm-cart__item--quantity {
                input {
                    max-width: 4em;
                }
            }
        }
        &.stm-cart__item--footer {
            padding: 1em;
            border-top: 1px solid #ddd;
            font-weight: 600;
            .stm-cart__item--total {
                //color: darken($green, 4%);
                span {
                    background-color: $red;
                    color: #fff;
                    font-size: 1.1em;
                    padding: 0.2em 0.5em 0.2em 0.4em;
                    border-radius: $border-radius;
                    display: inline-block;
                    margin-left: -0.4em;
                }
            }
        }

        div {
            flex: 1;
            &.stm-cart__item--product {
                flex: 1 0 25%;
                display: flex;
                align-items: center;
                a.stm-cart__item--product---thumbnail {
                    width: 3em;
                    margin-right: 1em;
                    display: flex;
                    justify-content: center;
                    img {
                        max-height: 3em;
                    }
                }
            }
            &.stm-cart__item--variation {
                flex: 1 0 4%;
                padding-right: 2em;
                .select {
                    width: 100%;
                }
                select {
                    width: 100%;
                }
            }
            &.stm-cart__item--quantity {
                input {
                    font-size: 1em;
                    box-shadow: none;
                }
            }
            &.stm-cart__item--delete {
                flex: 0 1 2%;
                a {
                    color: $red;
                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
        }
    }
}

.stm-cart-empty {
    padding: 1em 1.1em 0;
    font-size: 1.1em;
}

.stm-cart-footer {
    padding: 1em;
}

a.button.custom-button {
    color: #fff;
    border: none;
    width: 100%;
    padding: 1.47em 1em;
    text-transform: uppercase;
    &.stm-total {
        background-color: $red;
        margin-bottom: 0.9em;
        display: flex;
        align-items: center;
        span.text {
            padding-top: 0.1em;
        }
        span.total {
            font-size: 1.3em;
            margin-left: 0.4em;
        }
        &:hover {
            cursor: default;
            opacity: 1;
        }
    }
    &.stm-credit {
        margin-bottom: 0.85em;
        background-color: #333;
        height: auto;
        display: flex;
        justify-content: space-around;
        padding: 1em 0.5em;
        span {
            color: #ddd;
        }
        img {
            max-width: 35%;
        }
    }
    &.continue-shopping {
        margin-top: 0.5em;
        background-color: lighten($product-blue, 7%);
    }
    &:hover {
        color: #fff;
        opacity: 0.8;
    }
}
.stm-cart-footer {
    #buttons-container {
        // .paypal-powered-by {
        //     display: none !important;
        // }
        div.paypal-powered-by {
            background-color: red !important;
            opacity: 0 !important;
        }
    }
}
.paypal-powered-by {
    display: none !important;
}
.paypal-powered-by {
    box-shadow: 1px 1px #000;
}
