.cart-wrapper {
    //background: tomato;
    display: flex;
    //background: $info;
    //background: darken($product-blue, 18%);
    background-color: #dedede;
    padding: 2em;
    height: 100%;
    .cart-wrapper__notification {
        padding: 1em 1em 0;
        //margin-bottom: -1.5em;
        .free-shipping-alert {
            display: flex;
            align-items: center;
            @include cart_total_styles;
            //border-radius: 15px;
            border: 1px solid #e3e3e3;
            background-color: #fff;
            padding: 0 2em;
            //margin: 0 0.5em;
            // .icon-wrap {
            //     flex: 0 1 20%;
            //     i {
            //         font-size: 6em;
            //         color: #424242;
            //     }
            // }
            .image-wrap {
                img {
                    max-width: 10em;
                    //margin-right: 1em;
                    display: block;
                    //border-radius: $border-radius;
                }
            }
            .text-wrap {
                flex: 1;
                padding-bottom: 0.3em;
                text-align: center;
                span {
                    color: $red;
                }
                .line-1 {
                    font-size: 1.7em;
                }
                .line-2 {
                    font-size: 1.2em;
                }
            }
        }
    }
    .cart-wrapper-inner {
        //padding: 1em;
        border-radius: $border-radius;
        overflow: hidden;
        box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
        //border: 1px solid #eee;
        h3 {
            //color: darken($info, 11%);
            color: darken($product-blue, 10%);
            border-bottom: 1px solid #ddd;
            background-color: #f5f5f5;
            text-align: center;
            font-size: 1.1em;
            text-transform: uppercase;
            font-weight: 600;
            //border-bottom: 2px solid #ddd;
            padding: 0.4em 0 0.5em;
            margin-bottom: 0.4em;
            i {
                margin-left: 0.1em;
            }
        }
    }
    .cart-wrapper-left {
        background: #f7f7f7;
        flex: 0 1 75%;
        @media (min-width: $screen-md) {
            margin-right: 2em;
        }
    }
    .cart-wrapper-right {
        flex: 0 1 25%;
        background: #f7f7f7;
    }
}
.stm-cart {
    .stm-cart__alerts {
        padding: 0.5em 1em;
    }
    #payment-complete-notification {
        margin: 1em;
        display: none;
    }
    //@include product_bg;
    .stm-cart__item {
        display: flex;
        align-items: center;
        font-size: 0.8em;
        a.save-for-later {
            font-weight: 400;
            //color: lighten($color-orange, 1%);
            color: $color-orange;
            white-space: nowrap;
            margin-top: 0.1em;
            &:hover {
                color: darken($color-orange, 7%);
            }
        }
        .stm-cart__item--name {
            a {
                display: block;
            }
        }
        &.stm-cart__item--header {
            padding: 1em 1em 0.5em;
            font-weight: 600;
            color: #777;
            font-size: 0.9em;
        }

        &.stm-cart__item--body {
            font-weight: 600;
            padding: 1em;
            border-top: 1px solid #ddd;
            .stm-cart__item--quantity {
                input {
                    max-width: 5em;
                }
            }
        }
        &.stm-cart__item--footer {
            padding: 1em;
            border-top: 1px solid #ddd;
            font-weight: 600;
            .stm-cart__item--total {
                //color: darken($green, 4%);
                span {
                    background-color: $red;
                    color: #fff;
                    font-size: 1.1em;
                    padding: 0.2em 0.5em 0.2em 0.4em;
                    border-radius: $border-radius;
                    display: inline-block;
                    margin-left: -0.4em;
                }
            }
        }

        div {
            flex: 1;
            &.stm-cart__item--product {
                flex: 1 0 25%;
                display: flex;
                align-items: center;
                a.stm-cart__item--product---thumbnail {
                    width: 3em;
                    margin-right: 1em;
                    display: flex;
                    justify-content: center;
                    img {
                        max-height: 3em;
                    }
                }
            }
            &.stm-cart__item--variation {
                flex: 1 0 4%;
                padding-right: 2em;
                .select {
                    width: 100%;
                }
                select {
                    width: 100%;
                }
            }
            &.stm-cart__item--quantity {
                input {
                    font-size: 1em;
                    box-shadow: none;
                }
            }
            &.stm-cart__item--delete {
                flex: 0 1 2%;
                a {
                    color: $red;
                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
        }
    }
}

.stm-cart-empty {
    padding: 1em 1.1em 0;
    font-size: 1.1em;
}

.stm-cart-footer {
    padding: 1em;
}

a.button.custom-button {
    color: #fff;
    border: none;
    width: 100%;
    padding: 1.47em 1em;
    text-transform: uppercase;
    &.stm-total {
        background-color: $red;
        margin-bottom: 0.9em;
        display: flex;
        align-items: center;
        &.flex-vertical {
            padding: 3.3em 0;
            flex-direction: column;
        }
        span.text {
            padding-top: 0.1em;
        }
        span.total {
            font-size: 1.3em;
            margin-left: 0.4em;
        }
        &:hover {
            cursor: default;
            opacity: 1;
        }
    }
    &.stm-credit {
        margin-bottom: 0.85em;
        background-color: #333;
        height: auto;
        display: flex;
        justify-content: space-around;
        padding: 1em 0.5em;
        span {
            color: #ddd;
        }
        img {
            max-width: 35%;
        }
    }
    &.behalf {
        margin-bottom: 0.85em;
        background-color: #e1e1e1;
        height: auto;
        display: flex;
        justify-content: space-around;
        padding: 1em 0.5em;
        span {
            color: #222;
        }
        img {
            max-width: 35%;
        }
    }
    &.continue-shopping {
        margin-top: 0.5em;
        background-color: lighten($product-blue, 7%);
    }
    &:hover {
        color: #fff;
        opacity: 0.8;
    }
}
.stm-cart-footer {
    #buttons-container {
        // .paypal-powered-by {
        //     display: none !important;
        // }
        div.paypal-powered-by {
            background-color: red !important;
            opacity: 0 !important;
        }
    }
}
.paypal-powered-by {
    display: none !important;
}
.paypal-powered-by {
    box-shadow: 1px 1px #000;
}

.pay-with-balance-modal {
    padding: 1em;
    font-size: 1.7em;
    span {
        font-weight: 600;
    }
}

.pay-with-balance-warning {
    background-color: $red;
    border-radius: $border-radius;
    padding: 1em;
    color: #fff;
    font-weight: 600;
    margin: 0 2em 2em;
}
.apply-coupon-form {
    display: flex;
    .current-coupon {
        background-color: $green;
        padding: 0.3em 1em;
        color: #fff;
        font-weight: 600;
        margin-right: 1em;
        border-radius: $border-radius;
    }
}

.stm-total-wrap {
    @include cart_total_styles;
    margin: -0.5em 0 1em;
    padding: 0.4em 1em 0.2em 1em;
    .item {
        display: flex;
        justify-content: space-between;
        padding: 0.3em 0;
        &.total {
            font-size: 1.2em;
        }
        &:not(:last-child) {
            border-bottom: 1px solid #dadada;
        }
        .red {
            color: $red;
        }
        .green {
            color: darken($green, 7%);
        }
    }
}

.saved-favorites {
    padding: 0.5em 2em 2em;

    h4 {
        font-size: 1.2em;
        margin: 0.7em 0 0.5em;
        font-weight: 600;
    }
    .saved-favorites__no-items {
        color: $red;
        font-weight: 400;
        padding-bottom: 1em;
    }
    .saved-favorites__item {
        @include normal-background;
        margin-bottom: 1em;
        padding: 0;
        display: flex;
        align-items: stretch;
        position: relative;
        overflow: hidden;
        .saved-favorites__item--image {
            display: flex;
            align-items: center;
            img {
                max-width: 9em;
            }
        }
        .saved-favorites__item--details {
            padding: 0.7em 1.2em;
            @media (min-width: $screen-md) {
                padding-left: 2em;
            }
        }
        .saved-favorites__item--price {
            font-size: 1.9em;
            font-weight: 600;
            color: #111;
            background-color: #fcfcfc;
            border-left: 1px solid #eee;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 0 0 17%;
            padding: 0.5em;
            @media (min-width: $screen-md) {
                margin-left: auto;
            }
            .saved-favorites__item--price-orig {
                font-size: 0.8em;
                text-decoration: line-through;
                opacity: 0.4;
                font-weight: 400;
            }
            .saved-favorites__item--price-final {
                color: darken($green, 3%);
                text-shadow: 1px 1px #fff;
            }
        }
        .saved-favorites__item--name {
            font-size: 1.1em;
            font-weight: 600;
            color: darken($info, 10%);
        }
        .saved-favorites__item--description {
            //background: red;
            height: 8em;
            overflow: hidden;
            li {
                margin-bottom: 0.1em;
            }
        }
        .saved-favorites__item--links {
            display: flex;
            align-items: center;
            font-size: 1em;
            padding-top: 0.2em;
            a {
                font-size: 0.9em;
                color: $brand-primary;
                &:hover {
                    text-decoration: underline;
                }
            }
            .saved-favorites__item--link-remove {
                color: $red;
            }
            .saved-favorites__item--link-add {
                color: $info;
            }
            .saved-favorites__item--link-compare {
                color: darken($green, 5%);
            }
            span {
                color: #bbb;
                font-size: 0.9em;
                padding: 0 0.4em;
            }
            button {
                background-image: none;
                border: none;
                background-color: transparent;
                color: $brand-primary;
                font-size: 0.9em;
                padding: 0;
                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
        .saved-favorites__item--discount {
            position: absolute;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            width: 190px;
            top: 20px;
            left: -60px;
            text-align: center;
            line-height: 30px;
            letter-spacing: 1px;
            background: darken($green, 1%);
            text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
            color: #fff;
            font-weight: 600;
            font-size: 0.7em;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
            text-transform: uppercase;
            // &.sold-out {
            //     background: $color-red;
            // }
        }
    }
}

.TEMP-HIDE {
    display: none;
}
