.stm-cats {
    padding: 1em;
    display: flex;
    //justify-content: space-between;
    flex-wrap: wrap;
    .stm-cats__item {
        flex: 0 1 31%;
        border: 1px solid #eee;
        background-color: #fff;
        border-radius: $border-radius;
        font-weight: 600;
        color: #333;
        margin: 1em 1.15%;
        display: flex;
        align-items: center;
        overflow: hidden;
        span {
            padding: 0 0.9em;
        }
        a {
            padding: 0.4em 0.7em;
            &.edit-link {
                margin-left: auto;
                background-color: darken($green, 1%);
            }
            &.delete-link {
                background-color: $red;
            }
            i {
                color: #fff;
            }
        }
    }
}

.stm-cat {
    &.flex {
        display: flex;
        form {
            flex: 1;
            .field {
                flex: 1 !important;
            }
        }
    }
}
