// categories form
.sub-category-area {
    display: none;
    border-top: 1px solid #e7e7e7;
    padding-top: 0.5em !important;
    // padding: 0.6em 1em 0 !important;
    // background-color: #fafafa;
    // border: 1px solid #ddd;
    // border-radius: 10px;
    &.active {
        display: block;
        //margin-bottom: 1em;
    }
}
