// bulma datatables...
table.dataTable.nowrap th,
table.dataTable.nowrap td {
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_length {
    font-size: 0.8em;
    @media (min-width: $screen-md) {
        font-size: 1em;
    }
    select {
        font-size: 0.8em;
        @media (min-width: $screen-md) {
            width: 75px;
            display: inline-block;
            font-size: 1em;
        }
    }
}

div.dataTables_wrapper div.dataTables_filter {
    font-size: 0.8em;
    @media (min-width: $screen-md) {
        font-size: 1em;
    }
    input {
        font-size: 0.8em;
        @media (min-width: $screen-md) {
            font-size: 1em;
        }
    }
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}

div.dataTables_wrapper div.dataTables_paginate {
    white-space: nowrap;
    float: right;
}

table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting_desc,
table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
    padding-right: 30px;
}

table.dataTable thead > tr > th,
table.dataTable tbody > tr > td {
    &:first-child {
        @media (max-width: $screen-lg-max) {
            padding-left: 2.7em !important;
        }
    }
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 4px;
    right: 4px;
    display: block;
    font-family: "Font Awesome\ 5 Free";
    opacity: 0.5;
}

table.dataTable thead .sorting:after {
    opacity: 0.2;
    content: "\f0dc";
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
}

table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    color: #eee;
}

@media screen and (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: center;
    }
}

#sims_table_wrapper {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ececec;
    border-radius: 10px;
}

.form-wrapper-inner {
    position: relative;
    #sims_table_wrapper {
        border: none !important;
        border-radius: 0;
    }
}

.dataTables_paginate.paging_simple_numbers {
    width: 100%;
    font-size: 10px;
    //font-size: 1em;
    @media (min-width: $screen-sm) {
        font-size: 1em;
    }

    a.paginate_button {
        font-weight: bold;
        padding: 2px 10px !important;
        &.next,
        &.previous {
            display: none;
            @media (min-width: $screen-md) {
                display: inline-block;
            }
        }
        &.current,
        &:focus,
        &:hover {
            background: $brand-primary;
            color: #fff !important;
            border-color: $brand-primary;
            text-shadow: 1px 1px darken($brand-primary, 5%);
        }
        &.current {
            &:hover {
                background: $brand-primary;
                color: #fff !important;
                border-color: $brand-primary;
            }
        }
        &.disabled {
            text-shadow: none;
            &:hover {
                text-shadow: none;
            }
        }
    }
}

#sims_table {
    //font-size: 8px;
    font-size: 0.8em;
    @media (min-width: $screen-sm) {
        font-size: 1em;
    }
    a {
        color: darken($brand-primary, 5%);
        color: $brand-primary;
        font-weight: 700;
        &:hover {
            color: $brand-primary;
            text-decoration: underline;
        }
    }

    tr {
        th {
            border-color: #ddd;
            padding-left: 0.4em;
        }
        td {
            padding-left: 0.4em;
        }
    }

    &.dataTable.no-footer {
        border-color: #ddd;
    }
}

#sims_table_processing {
    display: none !important;
}

table.dataTable {
    tr {
        td {
            span {
                color: #fafafa;
                //color: red;
                font-weight: bold;
                display: block;
                padding: 1px 7px;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
                &.added {
                    //background-color: $brand-primary;
                    background-color: darken($brand-fifth, 5%);
                }
                &.new {
                    background-color: darken($brand-fifth, 13%);
                }
                &.pending {
                    background-color: $color-red;
                }
                &.completed {
                    background-color: $color-green;
                }
                &.cancelled {
                    background-color: #111;
                }
                &.total-due {
                    text-shadow: 1px 1px rgba(255, 255, 255, 0.05);
                    color: darken($color-green, 7%);
                }
            }
            a.credit-link {
                text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
                color: #fafafa !important;
                color: blue;
                display: block;
                padding: 1px 7px;
                &.pending {
                    background-color: $color-red;
                }
                &.completed {
                    background-color: $color-green;
                }
                &:hover {
                    text-decoration: none !important;
                }
            }
            .invoice-view {
                padding-left: 10px;
            }
            a.imei-view {
                background-color: darken($brand-fifth, 18%);
                color: #fafafa !important;
                font-weight: bold;
                display: block;
                padding: 1px 7px;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
                white-space: nowrap;
                &:hover {
                    text-decoration: none !important;
                    background-color: darken($brand-fifth, 15%);
                }
            }
            &.child {
                ul.dtr-details {
                    li {
                        border-bottom: none !important;
                        span {
                            color: #111;
                        }
                    }
                }
            }
        }
    }
}

// table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td.dtr-control:before, table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th.dtr-control:before {

// }

table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:before {
    background-color: $brand-primary !important;
    font-weight: bold;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

table.dataTable.dtr-inline.collapsed
    > tbody
    > tr.parent
    > td.dtr-control:before,
table.dataTable.dtr-inline.collapsed
    > tbody
    > tr.parent
    > th.dtr-control:before {
    background-color: $color-red !important;
}
