.email-manager-wrap {
    padding: 15px 25px;
    .email-header-wrap {
        display: flex;
        padding: 15px 0 30px;
        .item {
            flex: 0 1 20%;
            margin-right: 0.8em;
            &.input {
                flex: 0 1 30%;
            }
        }
        .delete-emails {
            margin-left: auto;
        }
        .button {
            &.search-button {
                color: darken($primary, 5%);
            }
            &.clear-button {
                color: #777;
            }
        }
    }
    .nav-wrap {
        width: 60%;
        margin: 0 auto;
        color: #777;
        li.page-item {
            font-size: 1.2em;
            font-weight: bold;
            &:first-child,
            &:last-child {
                font-size: 2.1em;
            }
        }
    }
    .click-details-header {
        padding-bottom: 1em;
        h4 {
            font-size: 1.1em;
            font-weight: bold;
            margin-top: 5px;
            span {
                color: #777;
            }
        }
    }
    i {
        margin: 0 !important;
        padding: 0 !important;
        &:before {
            margin: 0 !important;
            padding: 0 !important;
        }
    }
    i.fa-times-circle {
        color: $color-red;
        &:hover {
            cursor: pointer;
        }
    }
    i.fa-share {
        color: $brand-primary;
        &:hover {
            cursor: pointer;
        }
    }
}

table#sent-emails {
    td {
        &.opened {
            background-color: $color-green;
            color: #fff;
            a {
                color: #fff;
            }
        }
        &.bounced {
            background-color: $color-red;
            color: #fff;
            a {
                color: #fff;
            }
        }
        &.pending {
            background-color: #eee;
        }
        &.icon-wrap {
            i {
                width: 100%;
                text-align: center;
            }
        }
    }
}
