.form-wrapper {
    label {
        span.label-green {
            color: $color-green-text !important;
        }
    }
    // Settings | Uploads
    @media (min-width: $screen-md) {
        display: flex;
        justify-content: space-between;
        //padding-top: 20px;
        grid-gap: 50px;

        &.center {
            justify-content: center;
        }
    }
    .form-wrapper-inner {
        background: #fafafa;
        box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        //overflow: hidden;
        margin-bottom: 30px;
        flex: 1;
        height: 100%;
        @media (min-width: $screen-md) {
            flex: 1;
            &.third {
                max-width: 31%;
                order: 1;
            }

            &.half {
                max-width: 48%;
            }
        }

        h3 {
            text-align: center;
            border-radius: 10px 10px 0 0;
            font-weight: 700;
            font-size: 17px;
            padding: 10px;
            color: #111;
            //text-shadow: 1px 1px rgba(255,255,255,0.5);
            background-color: #f3f3f3;
            background-color: $brand-primary;
            color: #fff;
        }

        form {
            height: 100%;

            .form-wrap {
                display: flex;
                flex-direction: column;
                height: 100%;
                padding: 20px;

                .field {
                    padding-top: 2px;
                    padding-bottom: 2px;
                    &.update {
                        margin-top: auto;
                    }
                    .select {
                        width: 100%;
                        select {
                            width: 100%;
                        }
                    }
                    &.submit {
                        margin-top: auto;
                    }
                    textarea {
                        resize: none;
                    }
                    &.flex-margin {
                        padding-top: 15px;
                        @media (min-width: $screen-md) {
                            padding-top: 0;
                            margin-right: 1%;
                            margin-left: 1%;
                        }
                    }
                }

                .padding-top {
                    padding-top: 15px !important;
                }

                .form-wrap-flex {
                    @media (min-width: $screen-md) {
                        display: flex;
                        flex-wrap: wrap;
                    }
                    .field {
                        @media (min-width: $screen-md) {
                            flex: 0 1 31.3%;
                            margin-right: 1%;
                            margin-left: 1%;
                            &.sixth {
                                flex: 0 1 14.66%;
                            }
                            &.fifth {
                                flex: 0 1 18%;
                            }

                            &.fourth {
                                flex: 0 1 23%;
                            }

                            &.half {
                                flex: 0 1 48%;
                            }

                            &.full {
                                flex: 1 1 100%;
                            }
                            &.padding-bottom {
                                padding-bottom: 20px;
                            }
                        }
                    }
                    .email-blast-wrap-top {
                        padding: 5px 0 15px;
                        display: flex;
                        flex-wrap: wrap;
                        label {
                            flex: 0 1 17%;
                            font-size: 1.1em;
                            font-weight: bold;
                            padding: 0.3em 0.4em;
                            &.radio {
                                margin-left: 0;
                            }
                            //margin-right: 1em;
                            input {
                                margin-right: 3px;
                                margin-top: -5px;
                                vertical-align: middle;
                            }
                        }
                    }
                    .email-blast-wrap-bottom {
                        padding: 5px 0 25px;
                        max-width: 25%;
                    }
                    .product-ad-label {
                        margin-top: 25px;
                    }
                    .attachment-wrap {
                        padding: 5px 0 25px;
                        display: flex;
                        width: 45%;
                    }
                    &.form-wrap-flex-blocked-dealers {
                        padding-bottom: 1em;
                    }
                }
            }

            // span.file-name {
            // 	display: none;
            // }
        }
        &.homepage-form-wrap-inner {
            height: auto;
        }
    }
    .homepage-third {
        // no images currently
        @media (min-width: $screen-md) {
            max-width: 31%;
            order: 1;
        }
        flex: 1;

        // a.homepage-link {
        //     display: block;
        //     margin-bottom: 30px;
        //     border-radius: 10px;
        //     background: $brand-primary;
        //     color: #fff;
        //     box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
        //     display: flex;
        //     justify-content: space-between;
        //     align-items: center;
        //     //text-align: center;
        //     padding: 7px 15px 7px 20px;
        //     padding: 0 15px 0 20px;
        //     height: 5em;
        //     font-size: 1.2em;
        //     font-weight: bold;
        //     &.h2o {
        //         background: #fbe84e;
        //         color: #111;
        //     }
        //     &.lyca {
        //         //background: #2f6eb5;
        //         background: #ddd;
        //         color: #111;
        //     }
        //     &.eco {
        //         //background: #53b6e0;
        //         background: #57b8e3;
        //     }
        //     &:hover {
        //         opacity: 0.9;
        //         //color: #fff;
        //         //background-color: $brand-primary;
        //     }
        //     img {
        //         //max-width: em;
        //         max-height: 3.6em;
        //         max-width: 50%;
        //     }
        // }
    }
}

.recaptcha-start {
    margin-top: 0.5em;
}

// update bulma select
.select:after {
    border-color: $brand-primary !important;
}
input:focus,
select:focus,
textarea:focus {
    border-color: $brand-primary !important;
}

label {
    span.required {
        color: $color-red;
        margin-left: 5px;
    }
}

.form-wrapper {
    .redeem-credit {
        padding: 20px;
        .balance {
            border-bottom: 1px solid #dfdfdf;
            margin-bottom: 15px;
            padding-bottom: 3px;
            span {
                font-weight: bold;
                color: $color-green-text;
            }
        }
        .credit-redeem-choices {
            margin: 2px 0 5px;
            padding: 0 2px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .item {
                flex: 0 1 32.5%;
                margin-bottom: 0.4em;
                img {
                    border-radius: 20px;
                    //border: 1px solid rgba(0, 0, 0, 0.1);
                    border: 5px solid #fafafa;
                }
                &.zelle {
                    img {
                        //border-color: #6d11d4;
                    }
                }
                &.cash-app {
                    img {
                        //border-color: #000;
                    }
                }
                :hover {
                    cursor: pointer;
                }
                :hover,
                &.active {
                    img {
                        border-color: $color-red;
                    }
                }
            }
        }
    }
}

.modal-form-wrapper {
    text-align: left;
    .modal-buttons {
        padding-top: 10px;
        button {
            margin-left: 0 !important;
        }
    }
}

.modal-account-details {
    margin-bottom: 20px;
    text-align: left;
    padding: 0 10px;
    .item {
        font-size: 1.3em;
        font-weight: bold;
        margin: 5px 0;
        &.modal-payment-type {
            span {
                text-transform: uppercase;
                color: $brand-primary;
            }
        }
        &.modal-account-id {
            span {
                color: $brand-primary;
            }
        }
        &.credit-to-redeem {
            span {
                color: $color-green-text;
            }
        }
    }
    .warning-info {
        color: $color-red;
        font-weight: bold;
        background-color: lighten($color-red, 36%);
        padding: 10px 20px 15px;
        border: 1px solid #eaeaea;
        border-radius: 15px;
        margin-top: 15px;
        h2 {
            font-weight: bold;
            font-size: 1.7em;
            text-transform: uppercase;
        }
    }
}

body.stm-body {
    .ql-toolbar {
        border-color: #dbdbdb;
        border-radius: 4px 4px 0 0;
    }
    .quill-wrap {
        border-color: #dbdbdb !important;
        border-radius: 0 0 4px 4px;
    }
    textarea.quill_text {
        display: none;
    }
    .quill-wrap {
        min-height: 160px;
        strong {
            font-weight: 600;
        }
    }
}

.control {
    &.item-flex {
        display: flex;
        button {
            margin-left: 1em;
        }
    }
}

.product-categories-checkboxes {
    .control {
        display: flex;
        flex-wrap: wrap;
        //justify-content: space-around;
        .category-item {
            border-radius: 7px;
            padding: 0.1em 0.8em 0.2em 0.7em;
            display: flex;
            align-items: center;
            background-color: #fff;
            border: 1px solid #ddd;
            margin: 0 1em 1em 0;
            label {
                line-height: 2em;
                margin: 0;
                padding-top: 0.1em;
                @include no_select;
            }
            input {
                font-size: 2em;
                margin-right: 0.2em;
            }
        }
    }
}
