.header-wrap {

	//@include background_gradient;
	@include background_pattern;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid #000;

	.logo-wrap {
		//padding: 21px 10px 15px;
		padding: 20px 10px;
		margin-left: 15px;
		// img {
		// 	max-width: 180px;
		// }

		a {
			text-transform: uppercase;
			font-weight: 800;
			color: #FFF;
			font-size: 25px;
			//text-shadow: 1px 1px darken($brand-primary, 15%);
		}
	}

	.header-area {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 20px;

		a.button {
			color: #555;
			border: none;
			font-size: 15px;
			text-transform: uppercase;
			padding-left: 1em;
			padding-right: 1em;
			&:hover {
				z-index: 0 !important;
			}
			&.logout, &.contact, &.date, &.user, &.settings {
				border-left: 1px solid #CCC;	
			}
			&.logout {
				&:hover {
					background-color: $color-red;
					color: #FFF;
				}
			}
			&.login, &.register, &.date, &.type, &.user, &.settings {
				&:hover {
					//color: #FFF;
					background-color: #EEE;
				}
			}
			&.online {
				color: #FFF;
				background-color: $color-green;
			}
			&.locked {
				color: #FFF;
				background-color: $color-red;
			}
			span.text {
				font-weight: 700;
			}
		}

	}
}

.header-sub-wrap {
	background-color: red;
	min-height: 35px;
	text-transform: uppercase;
	display: flex;
	font-weight: 700;
	.sub {
		flex: 1 1 auto;
		background-color: #DDD;
		border-bottom: 1px solid #CCC;
		padding: 5px;
		text-align: center;
		&.sub-1 {
			//background-color: rebeccapurple;
			border-right: 1px solid #CCC;
		}
		&.sub-2 {
			border-right: 1px solid #CCC;
			//background-color: cornflowerblue;
		}
		&.sub-3 {
			color: #FFF;
			flex: 0 1 10%;
			&.online {
				background-color: $color-green;
			}
			&.locked {
				background-color: $color-red;
			}
		}
	}
}