.header-wrap {

	@include background_pattern;
	display: flex;
	justify-content: space-between;

	.logo-wrap {
		padding: 21px 10px 15px;
		margin-left: 15px;
		img {
			max-width: 160px;
		}
	}

	.login-wrap {
		font-size: 14px;
		color: #FFF;
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		span {
			color: rgba(255,255,255,0.3);	
			&.name {
				color: $brand-primary;
			}
		}
		a {
			color: #FFF;
			&:hover {
				color: $brand-primary;
			}
		}
		@media(min-width: 700px) {
			margin-right: 80px;
		}
	}
}