.stm_inv {
    padding: 1.3em 1.2em;
    .stm_inv__flex {
        display: flex;
        div {
            flex: 1 1 12%;
            border: 1px solid #ccc;
            padding: 8px 15px;
            &.stm_inv__flex--60 {
                flex: 1 1 60%;
            }
            &.stm_inv__flex--delete {
                flex: 1 1 4%;
                display: flex;
                justify-content: center;
                a {
                    color: $color-red;
                }
            }
            &:not(:first-child) {
                border-left: none;
            }
        }
        &:not(:first-child) {
            div {
                border-top: none;
            }
        }
        &.stm_inv__flex-3 {
            .stm_inv__item--item {
                color: $color-red;
            }
        }
    }
    .stm_inv__header {
        .stm_inv__header--label {
            color: #333;
            background-color: #f1f1f1;
            //font-weight: 600;
            font-size: 1.05em;
        }
        .stm_inv__header--item {
            color: #333;
            //color: darken($color-green, 11%);
            //font-weight: 600;
            font-size: 0.9em;
            &.stm_inv__header--item-red {
                color: $color-red;
            }
            &.stm_inv__header--item-status-1 {
                background-color: darken($brand-fifth, 13%);
                color: #fff;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
            }
            &.stm_inv__header--item-status-2 {
                background-color: $color-red;
                color: #fff;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
            }
            &.stm_inv__header--item-status-3 {
                background-color: $color-green;
                color: #fff;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
            }
            &.stm_inv__header--item-status-4 {
                background-color: #111;
                color: #fff;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
            }
        }
    }
    .stm_inv__items {
        margin-top: 1.5em;
        .stm_inv__item--label {
            background-color: #f1f1f1;
            color: #333;
            font-size: 1.05em;
            //font-weight: 600;
        }
        .stm_inv__item--item {
            //color: darken($color-green, 11%);
            //font-weight: 600;
            font-size: 0.9em;
        }
    }
    .stm_inv__total {
        border: 1px solid #ccc;
        padding: 5px 15px;
        font-size: 1.2em;
        font-weight: 600;
        margin-top: 1.5em;
        display: inline-block;
        span {
            color: $color-red;
        }
    }
    .stm_inv__form {
        padding: 1em;
        border: 1px solid #ccc;
        margin-top: 1.5em;
        .stm_inv__form--flex {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.5em;
            label {
                font-weight: normal;
                color: #111;
            }
            .field {
                margin-right: 1em;
                flex: 0 1 10%;
                //flex: 1;
                .select {
                    width: 100%;
                    select {
                        width: 100%;
                    }
                }
                &.description {
                    flex: 1;
                }
            }
        }
    }
    .stm_imv__finalize {
        margin-top: 2.5em;
        a {
            margin-left: 1em;
        }
    }
}

.invoice-modal-flex {
    .field {
        margin-bottom: 1.5em;
        .select {
            width: 100%;
            select {
                width: 100%;
            }
        }
    }
}
