.stm_inv {
    padding: 1.3em 1.2em;
    .stm_inv__flex--forms {
        display: flex;
        justify-content: space-between;
        .stm_inv__flex--forms-item {
            &.stm_inv__flex--forms-tracking {
                flex: 0 1 79%;
            }
            &.stm_inv__flex--forms-imei {
                flex: 1;
                select {
                    flex: 0 1 50%;
                }
            }
            &.stm_inv__flex--forms-status {
                flex: 0 1 19%;
                .select {
                    width: 100%;
                    select {
                        width: 100%;
                    }
                }
            }
        }
    }
    .stm_inv__flex {
        display: flex;
        .stm_inv__header--label,
        .stm_inv__header--item,
        .stm_inv__item--item,
        .stm_inv__item--label {
            flex: 1 1 12%;
            border: 1px solid #ccc;
            padding: 8px 15px;
            &.stm_inv__flex--15 {
                flex: 1 1 15%;
            }
            &.stm_inv__flex--20 {
                flex: 1 1 20%;
            }
            &.stm_inv__flex--22 {
                flex: 1 1 22%;
            }
            &.stm_inv__flex--25 {
                flex: 1 1 25%;
            }
            &.stm_inv__flex--28 {
                flex: 1 1 28%;
            }
            &.stm_inv__flex--30 {
                flex: 1 1 30%;
            }
            &.stm_inv__flex--40 {
                flex: 1 1 40%;
            }
            &.stm_inv__flex--60 {
                flex: 1 1 60%;
            }
            &.stm_inv__flex--delete {
                flex: 1 1 4%;
                display: flex;
                justify-content: center;
                a {
                    color: $color-red;
                }
            }
            &:not(:first-child) {
                border-left: none;
            }
            &.purchase-id {
                color: $primary;
                font-weight: bold;
            }
        }
        &:not(:first-child) {
            div {
                border-top: none;
            }
        }
        &.stm_inv__flex-3 {
            .stm_inv__item--item {
                color: $color-red;
            }
        }
    }
    .stm_inv__header {
        .stm_inv__header--label {
            color: #333;
            background-color: $invoice-header;
            //font-weight: 600;
            font-size: 1.05em;
        }
        .stm_inv__header--item {
            color: #333;
            //color: darken($color-green, 11%);
            //font-weight: 600;
            font-size: 0.9em;
            &.stm_inv__header--item-red {
                color: $color-red;
            }
            &.stm_inv__header--item-status-1 {
                background-color: darken($brand-fifth, 13%);
                color: #fff;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
            }
            &.stm_inv__header--item-status-2 {
                background-color: $color-red;
                color: #fff;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
            }
            &.stm_inv__header--item-status-3 {
                background-color: $color-green;
                color: #fff;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
            }
            &.stm_inv__header--item-status-4 {
                background-color: #111;
                color: #fff;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
            }
        }
    }
    .stm_inv__items {
        margin-top: 1.5em;
        .stm_inv__item--label {
            background-color: $invoice-header;
            color: #333;
            font-size: 1.05em;
            //font-weight: 600;
        }
        .stm_inv__item--item {
            //color: darken($color-green, 11%);
            //font-weight: 600;
            font-size: 0.9em;
        }
    }
    .stm_inv__total {
        border: 1px solid #ccc;
        padding: 5px 15px;
        font-size: 1.2em;
        font-weight: 600;
        margin-top: 1.5em;
        display: inline-block;
        span {
            color: $color-red;
        }
    }
    .stm_inv__form {
        padding: 1em;
        border: 1px solid #ccc;
        margin-top: 1.5em;
        .stm_inv__form--flex {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.5em;
            label {
                font-weight: normal;
                color: #111;
            }
            .field {
                margin-right: 1em;
                flex: 0 1 10%;
                //flex: 1;
                .select {
                    width: 100%;
                    select {
                        width: 100%;
                    }
                }
                &.description {
                    flex: 1;
                }
                &.flex-20 {
                    flex: 0 1 20%;
                }
                &.flex-50 {
                    flex: 0 1 50%;
                }
            }
        }
    }
    .stm_inv__form--buttons {
        //display: flex;
        display: block;
        padding: 2em 0;
        form {
            height: auto;
        }
        button {
            //margin-right: 3em;
            margin: 0 0 2em;
            width: 100%;
        }
    }
    .stm_imv__finalize {
        margin: 1.5em 0 0.2em;
        a {
            margin-right: 1em;
        }
    }
}

.invoice-modal-flex {
    .field {
        margin-bottom: 1.5em;
        .select {
            width: 100%;
            select {
                width: 100%;
            }
        }
    }
}

.imei-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em 0;
    // button {
    //     padding: 0;
    //     border: none;
    //     background-color: transparent;
    //     &:hover {
    //         cursor: pointer;
    //     }
    // }
    i {
        color: $red;
        margin-left: 0.5em;
        padding-top: 0.1em;
        font-size: 0.9em;
        &:hover {
            cursor: pointer;
        }
    }
}
