.stm-absolute-wrap {
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    background: rgba(0,0,0,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    &#loader-wrap {
        display: none;
    }
}

.loader {
    // border: 16px solid #f3f3f3; /* Light grey */
    // border: 16px solid $brand-primary-new; /* Light grey */
    border: 8px solid #555; /* Light grey */
    border-top: 8px solid $brand-primary; /* Teal Blue */
    //border-top: 8px solid $brand-danger; /* Red */
    // border-bottom: 16px solid $brand-fifth-new; /* Blue */
    // border-left: 16px solid $brand-fourth-new; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}