.locked-wrapper {
	display: flex;
	min-height: 80%;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;


	i {
		font-size: 16em;
		color: $color-red;
	}

	p {
		font-size: 1.5em;
	}
}