@mixin background_pattern {
	background-color: #333;
	background-image: url(/img/footer_lodyas.png);
	//background-size: 600px 600px;
	background-size: 500px 500px;
}

@mixin current_font {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

@mixin background_gradient {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5433ff+0,20bdff+68,20bdff+99 */
background: #5433ff; /* Old browsers */
background: -moz-linear-gradient(left, #5433ff 0%, #20bdff 68%, #20bdff 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #5433ff 0%,#20bdff 68%,#20bdff 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #5433ff 0%,#20bdff 68%,#20bdff 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5433ff', endColorstr='#20bdff',GradientType=1 ); /* IE6-9 */
}

