// extends grid.scss
.notes-wrap {
    .note-wrap {
        .flex-item {
            &.note-text {
                font-size: 0.8em;
                color: #555;
                padding: 0 20px;
                padding: 10px 15px;
                border-left: 1px solid #eee;
                flex: 0 1 80%;
                @media (min-width: $screen-md) {
                    margin-right: 15px;
                    flex: 1;
                    border-right: 1px solid #eee;
                }
            }
            &.note-date {
                padding-right: 15px;
                font-size: 0.6em;
                color: #333;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                min-height: 50px;
            }
            &.note-end {
                padding-right: 15px;
                font-size: 0.6em;
                color: #333;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                min-height: 50px;
                //flex: 0 1 70%;
                padding-left: 2em;
                flex: 1;
                @media (min-width: $screen-md) {
                    flex: 0 1;
                    padding-left: 0;
                }
            }

            &.notes-icon-wrap {
                padding: 17px 15px 17px 17px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 0 1 15%;
                &.border-left {
                    @media (min-width: $screen-md) {
                        border-left: 1px solid #eee;
                    }
                }
                i {
                    font-size: 2em;
                    &.delete-icon {
                        color: $color-red;
                    }
                    &:hover {
                        cursor: pointer;
                        opacity: 0.9;
                    }
                }
            }
        }
    }
}

.rma-note {
    background-color: #fdfdfd;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-right: 10px;
    overflow: hidden;
    font-weight: bold;
    font-size: 0.8em;
    .note-header {
        border-bottom: 1px solid #e3e3e3;
        display: flex;
        align-items: center;
    }
    .note-body {
        font-weight: normal;
        color: #333;
        padding: 10px;
    }
    span {
        padding: 10px;
        font-size: 1.1em;
        &.date {
            border-right: 1px solid #e3e3e3;
            color: $brand-primary;
        }
        &.user {
            color: #333;
        }

        &.icon {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            i {
                font-size: 1.7em;
                color: $color-red;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
