.products {
    display: flex;
    justify-content: space-around;
    .product {
        flex: 0 1 20%;
    }
}

.product {
    border: 2px solid #bbb;
    border-radius: 10px;
    font-size: 1.2em;
    overflow: hidden;
    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
    .product__title {
        padding: 1em;
    }
    .product__image {
        height: 200px;
        width: 100%;
        background-color: #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            color: #999;
            font-size: 3em;
        }
    }
    .product__cost {
        padding: 1em;
    }
}
