.form-wrapper-inner {
    .form-wrap {
        .form-wrap-flex.form-wrap-flex-products-top {
            .field.name {
                flex: 1;
            }
            .field.cost {
                flex: 0 1 10%;
            }
            .field.discount {
                flex: 0 1 10%;
            }
            .field.description {
                flex: 1;
                padding-bottom: 1em;
            }
        }
        .form-wrap-flex.form-wrap-flex-image-attributes {
            max-width: 70%;
        }
    }
    // .form-wrap-flex-images {
    //     display: flex;
    //     .field {
    //         img {
    //             max-width: 2em;
    //         }
    //     }
    // }
    .preview-image {
        margin-top: 1em;
        .preview-image__image {
            background: #fff;
            border: 1px solid #ddd;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1em;
            position: relative;
            img {
                height: 13em;
            }
            &.hide_img {
                display: none;
            }
            i.remove {
                color: darken($red, 5%);
                position: absolute;
                top: 0.3em;
                right: 0.3em;
                font-size: 1.4em;
                background: #fff;
                border-radius: 50%;
                display: none;
                &:hover {
                    cursor: pointer;
                }
            }
            &:hover {
                i.remove {
                    display: block;
                }
            }
        }
        .preview-image__default {
            background-color: #ddd;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 15em;
            i {
                color: #999;
                font-size: 7em;
            }
            &.video {
                background-color: lighten($product-blue, 54%);
                i {
                    color: lighten($product-blue, 10%);
                    &:before {
                        content: "\F144";
                    }
                }
            }
            &.hide {
                display: none;
            }
        }
    }
}

// categories form
.sub-category-area {
    display: none;
    border-top: 1px solid #e7e7e7;
    padding-top: 0.5em !important;
    &.active {
        display: block;
    }
}

.image-attributes-flex {
    display: flex;
    justify-content: space-between;
    padding: 0 1% 0 0.5%;
    // .flex-left {
    //     flex: 0 1 70%;
    // }
    // .flex-right {
    //     //flex: 0 1 28%;
    // }
    img#output {
        max-width: 8em;
        @include product_border;
        //height: 300px;
        background-color: #fff;
        padding: 1em;
        //border: 1px solid #ddd;
    }
}
