// grid wrap for products and menu
.products-outer {
    display: flex;

    // grid wrap for products
    .products {
        display: flex;
        flex-wrap: wrap;
        width: 84%;
        .product {
            flex: 0 1 22%;
            margin: 0 1.5% 1.5%;
        }
    }

    .product-cats {
        //height: 300px;
        width: 16%;
        background-color: #333;
        border: 1px solid #fff;
        padding: 0.6em 1em;
        margin-right: 1em;
    }

    .product-cat {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.2em 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        font-weight: 400;
        font-size: 0.9em;
        color: #fcfcfc;
        @include no_select;
        &:hover {
            cursor: pointer;
        }
        &.product-cat--sub {
            padding-left: 0.8em;
            span {
                font-size: 0.85em;
            }
        }
    }

    // product thumbnail
    .product {
        //border-radius: 10px;
        font-size: 1.2em;
        overflow: hidden;
        background-color: #fafafa;
        box-shadow: 1px 1px rgba(0, 0, 0, 0.075);
        .product__title {
            padding: 0.4em 1.2em 0.2em;
            color: #333;
            font-weight: 600;
            font-size: 0.7em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            //min-height: 3.7em;
            //height: 3.7em;
        }
        .product__description {
            padding: 1em;
            .product__description--text {
            }
        }
        .product__image {
            height: 220px;
            width: 100%;
            &.product__image--url {
                background-color: #fff;
                text-align: center;
                padding: 10px 0;
                img {
                    max-height: 200px;
                }
            }
            &.product__image--default {
                background-color: #ddd;
                display: flex;
                align-items: center;
                justify-content: center;
                i {
                    color: #999;
                    font-size: 3em;
                }
            }
        }
        .product__cost {
            padding: 0.2em 1em;
            margin: 0.1em 0;
            font-size: 0.9em;
            color: darken($primary, 7%);
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            font-weight: 600;
        }
        .product__attributes {
            padding: 0.4em 1em;
            height: 5em;
            .product__attributes--item {
                font-size: 0.7em;
                display: flex;
                align-items: center;
                i {
                    font-size: 0.6em;
                    margin-right: 0.7em;
                    color: #aaa;
                }
            }
        }
        .product__footer {
            display: flex;
            padding: 0.3em 1em 0.4em;
            justify-content: space-between;
            border-top: 1px solid #eee;

            a {
                font-size: 1.1em;
                font-weight: 600;
                &.product__footer--view {
                    color: darken($info, 2%);
                }
                &.product__footer--cart {
                    color: darken($green, 3%);
                }
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        // .product__attributes {
        //     padding: 1em;
        //     .product__attributes--item {
        //         margin: 0.4em 0;
        //         i {
        //             margin-right: 0.5em;
        //         }
        //     }
        // }
        .product__categories {
            padding: 1em;
            .product__categories--item {
                margin: 0.4em 0;
                i {
                    margin-right: 0.5em;
                }
            }
        }
        .product__sub_categories {
            padding-left: 2em;
            font-size: 0.8em;
            color: #555;
        }
    }
}
