.product-single {
    @media (min-width: $screen-md) {
        display: flex;
    }
    .product-single__images {
        @media (min-width: $screen-md) {
            flex: 0 1 40%;
        }
        .product-single__images--url {
            @include product_border;
            padding: 1em;
            background-color: #fff;
            height: 30em;
            position: relative;
            display: grid;
            img {
                background: #fff;
                max-height: 28em;
                //height: auto;
                //width: auto;
                display: block;
                margin: 0 auto;
                &.hidden {
                    display: none;
                }
            }
            .video-wrap {
                height: 30em;
                background: #111;
                display: flex;
                align-items: center;
                &.hidden {
                    display: none;
                }
                // video {}
            }
        }

        .product-single__images--row {
            display: flex;
            justify-content: center;
            .product-single__images--item {
                @include product_border;
                padding: 0.3em;
                background-color: #fff;
                margin: 0.8em 0.4em 0.8em 0.4em;
                display: flex;
                align-items: center;
                overflow: hidden;
                img {
                    display: block;
                    max-width: 3.3em;
                    max-height: 4em;
                }
                &:hover {
                    border-color: lighten($brand-primary, 5%);
                    opacity: 0.9;
                    cursor: pointer;
                }
            }
        }
        .product-single__images--default {
            background-color: #ddd;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 30em;
            i {
                color: #999;
                font-size: 13em;
            }
        }
    }

    .product-single__right {
        @media (min-width: $screen-md) {
            flex: 0 1 60%;
        }
    }

    .product-details {
        padding: 0 2em;
        .product-details__title {
            font-size: 2.5em;
            font-weight: 600;
            line-height: 1.1em;
            margin-bottom: 0.1em;
            white-space: nowrap;
            //border-bottom: 1px solid #dfdfdf;
        }
        .product-details__rating {
            margin-bottom: 0.6em;
            //display: flex;
            //align-items: center;
            //justify-content: space-between;
            // a.modal-open-review {
            //     display: none;
            //     font-weight: 600;
            //     margin-left: 0.3em;
            //     i {
            //         margin-left: 0.1em;
            //     }
            // }
        }
        .product-details__cost {
            //color: darken($green, 5%);
            //color: lighten($product-blue, 8%);
            color: darken($green, 2%);
            font-size: 2.7em;
            font-weight: 600;
            line-height: 0.8em;
            display: flex;
            align-items: center;
            .product-details__cost--orig {
                font-size: 0.5em;
                margin-left: 0.4em;
                font-weight: normal;
                color: #c3c3c3;
                display: flex;
                align-items: center;
                span {
                    font-size: 1.3em;
                    text-decoration: line-through;
                    margin-right: 0.3em;
                }
            }
        }
        .product-details__cost-discount {
            display: flex;
            justify-content: space-between;
        }

        .product-details__discount {
            display: flex;
            align-items: center;
            margin-left: 0.4em;
            .product-details__discount--inner {
                background: darken($red, 2%);
                color: #fff;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
                padding: 0.3em 0.7em;
                border-radius: 4px;
                display: flex;
                align-items: center;
                font-size: 1.1em;
                font-weight: 600;
                text-transform: uppercase;
                i {
                    margin-right: 0.5em;
                    padding-top: 0.2em;
                }
            }
        }
        .product-details__details {
            padding: 1em;
            > table {
                margin: -1em;
            }
            .row {
                margin: -1em;
                @media (min-width: $screen-sm) {
                    display: flex;
                }
                div {
                    flex: 0 1 50%;
                    &:nth-child(2) {
                        border-left: 1px solid #ddd;
                    }
                }
            }
        }
        .product-reviews {
            padding: 1em;
            a.modal-open-review {
                font-weight: 600;
                margin-bottom: 1.2em;
                display: inline-block;
                background-color: #fff;
                border: 1px solid #dfdfdf;
                padding: 0.2em 0.5em;
                border-radius: 4px;
                color: $product-blue;
                i {
                    margin-left: 0.2em;
                }
                &:hover {
                    opacity: 0.8;
                }
            }
            .product-review {
                margin-bottom: 2em;
                background-color: #fcfcfc;
                border: 1px solid #eee;
                padding: 0.6em 0.8em;
                border-radius: $border-radius;
                .product-review__text {
                    font-style: italic;
                    margin-bottom: 0.3em;
                }
                .product-review__attribution {
                    font-weight: 600;
                    span {
                        color: #888;
                        font-size: 0.9em;
                    }
                }
            }
        }
        .product-details__description {
            margin-top: 0.5em;
            @include product_bg;

            ul {
                padding-left: 1.3em;
                li {
                    list-style-type: disc;
                }
            }
            ol {
                padding-left: 1.3em;
            }
        }
        .product-details__images {
            img {
                background: #fff;
                border-radius: 4px;
                width: 100%;
                margin-bottom: 1em;
            }
            video {
                width: 100%;
                border-radius: 4px;
                margin-bottom: 1em;
            }
        }
        .product-details__flex-wrap {
            @media (min-width: $screen-md) {
                display: flex;
            }
        }
        .product-details__flex-space-wrap {
            padding-bottom: 0.3em;
            @media (min-width: $screen-md) {
                display: flex;
            }
        }
        // tab nav
        .product-details__tabs {
            margin-top: 1.5em;
            margin-bottom: 1em;
        }

        .product-details__info {
            padding: 0.7em 1em;
        }
        .product-details__tabs-content {
            .tab-item.background {
                background-color: #fefefe;
                border: 1px solid #e2e2e2;
                overflow: hidden;
                border-radius: 4px;
            }
            table {
                width: 100%;
                background: transparent;
                tr {
                    &:nth-child(odd) {
                        background-color: #fafafa;
                    }
                }
                i {
                    margin-right: 0.3em;
                    &.fa-check {
                        color: darken($green, 10%);
                    }
                    &.fa-times {
                        color: darken($red, 5%);
                    }
                }
            }
        }
        // .product-details__attributes {
        //     padding: 0.5em;
        //     .product-details__attribute {
        //         color: #4a4a4a;
        //         font-size: 16px;
        //         display: flex;
        //         align-items: center;
        //         i {
        //             color: $green;
        //             margin-right: 0.7em;
        //             font-size: 0.45em;
        //         }
        //     }
        // }
        // .product-details__categories {
        //     padding: 0.5em;
        //     @media (min-width: $screen-md) {
        //         margin-left: 1em;
        //         margin-top: 0.2em;
        //         padding-left: 1em;
        //         border-left: 1px solid #ddd;
        //     }
        //     .product-details__category {
        //         i {
        //             color: $green;
        //             margin-right: 0.6em;
        //             font-size: 0.9em;
        //         }
        //     }
        // }
        .product-details__cart {
            display: flex;
            align-items: center;
            margin-left: auto;
            @include product_bg;
            .product-details__quantity {
                margin-right: 1em;
                font-weight: 600;
                i {
                    //color: darken($brand-primary, 5%);
                    //color: lighten($product-blue, 7%);
                    color: #888;
                    margin: 0 0.2em;
                    &:hover {
                        cursor: pointer;
                        opacity: 0.8;
                    }
                }
            }

            button.add-to-cart {
                font-size: 1em;
                border-radius: 0;
                box-shadow: none;
                border: none;
                color: #fefefe;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.02);
                //background: darken($green, 3%);
                //background: lighten($product-blue, 10%);
                background: darken($green, 1%);
                font-weight: 600;
                padding: 0.4em 0.7em 0.4em 0.6em;
                text-transform: uppercase;
                border-radius: 0.3em;
                i {
                    margin-right: 0.5em;
                }
                &:hover {
                    cursor: pointer;
                    opacity: 0.9;
                }
            }
        }
    }
    .tabs.is-toggle {
        li {
            a {
                font-weight: bold;
                //color: darken($product-tabs, 4%);
                color: lighten($product-blue, 5%);
                font-size: 0.8em;
                i {
                    margin-right: 7px;
                }
            }
            &.is-active {
                a {
                    color: #fff;
                    text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
                    //background-color: $product-tabs;
                    //background-color: $product-blue;
                    background-color: lighten($product-blue, 8%);
                    //border-color: $product-tabs;
                    //border-color: $product-blue;
                    border-color: lighten($product-blue, 8%);
                }
            }
        }
    }
    .tabs-content {
        .tab-item {
            display: none;
            &.active {
                display: block;
            }
        }
    }
    .product-details__edit {
        background-color: #f7f7f7;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 0.6em 0.8em;
        margin-top: 1em;
        color: #bbb;
        a {
            font-weight: bold;
            &.delete-product {
                color: $red;
            }
        }
    }
}
