.total-sales {
    display: flex;
    font-size: 1.7em;
    font-weight: 600;
    margin-bottom: 0.7em;
    .total-sales__label {
        background-color: $invoice-header;
        padding: 0.25em 0.5em 0.2em;
        border: 1px solid #ddd;
        border-right: none;
    }
    .total-sales__value {
        padding: 0.25em 0.5em 0.2em;
        background-color: $green;
        color: #fff;
    }
}
