.sales-receipt {
    margin: 1.5em;
    border: 2px solid #ddd;
    //padding: 1em;

    .invoice-wrap {
        padding: 0;
        .invoice-wrap__header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1em;
            .address-block {
                font-weight: 600;
                padding: 1em;
            }
            .invoice-title {
                span {
                    font-size: 1.8em;
                    line-height: 1em;
                    border-left: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    padding: 0.5em 0.5em 0.5em;
                    display: block;
                    text-transform: uppercase;
                }
            }
        }
        .invoice-wrap__details {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1em;
            .address-block {
                font-weight: 600;
                padding: 1em;
                //color: #999;
                .top {
                    color: #000;
                }
            }
            .invoice-number-wrap {
                padding: 1em;
                span {
                    font-weight: 600;
                    margin-right: 0.5em;
                }
            }
        }
        .invoice-wrap__middle {
            display: flex;
            justify-content: center;
            padding: 0 1.5em;
            margin-bottom: 2em;
            table {
                border: 1px solid #ddd;
                width: 100%;
                th {
                    background-color: $invoice_header;
                }
            }
        }
        .invoice-wrap__footer {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #ddd;
            .invoice-wrap__footer--note {
                padding: 1em;
            }
            .invoice-wrap__footer--totals {
                border-left: 1px solid #ddd;
                flex: 0 1 23%;
                .item {
                    padding: 0.5em 1em 0;
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #ddd;
                    &.discount {
                        //color: $red;
                    }
                    &.final {
                        background-color: $invoice_header;
                        border-bottom: none;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
