.total-sales {
    display: flex;
    font-size: 1.7em;
    font-weight: 600;
    margin-bottom: 0.7em;
    .total-sales__label {
        background-color: $invoice-header;
        padding: 0.25em 0.5em 0.2em;
        border: 1px solid #ddd;
        border-right: none;
    }
    .total-sales__value {
        padding: 0.25em 0.5em 0.2em;
        background-color: $green;
        color: #fff;
    }
}

.sales-menu {
    padding-bottom: 1.5em;
    .sales-menu__form {
        .sales-menu__form--inner {
            //background: tomato;
            .field {
                width: 100%;
                flex: 0;
                &.input-field {
                    min-width: 11em;
                }
                &.input-field-users {
                    min-width: 19em;
                }
            }
            @media (min-width: $screen-sm) {
                display: flex;
                align-items: flex-end;
                .field {
                    margin-bottom: 0;
                    margin-right: 0.9em;
                }
            }
            // @media (min-width: $screen-md) {
            //     //max-width: 50%;
            // }
            // @media (min-width: $screen-lg) {
            //     //max-width: 40%;
            // }
        }
    }
}

.agent-sales {
    .agent-sales__item {
        padding: 1em 2em;
        &:not(:last-child) {
            border-bottom: 1px solid #ddd;
        }
    }
}
