.list-group {
    background-color: lighten($info, 42%);
    .list-group-item {
        padding: 1em;
        //border: 1px solid #eee;
        //border-bottom: none;
        background-color: #fdfdfd;
        border-bottom: 1px solid #e7e7e7;
        &:hover {
            cursor: pointer;
        }
    }
}
