.stm-flex-new {
    margin: 1em 1em 3em 1em; //xxx
    color: $flex-color;
    font-size: 0.9em;
    border-right: 1px solid $flex-border;
    border-bottom: 1px solid $flex-border;
    @media (max-width: $screen-md-max) {
        font-size: 0.8em;
        display: flex;
        flex-wrap: wrap;
    }
    .stm-flex-new__row {
        flex: 0 1 55%;

        @media (min-width: $screen-md) {
            display: flex;
            &.mobile {
                display: none;
            }
        }

        &.header {
            flex: 0 1 45%;
            .stm-flex-new__item {
                background-color: $flex-header;
            }
            &:not(:nth-last-child(2)) {
                border-bottom: 1px solid $flex-border;
                margin-bottom: 1em;
                @media (min-width: $screen-md) {
                    border-bottom: none;
                    margin-bottom: 0;
                }
            }
        }
        &:not(.header) {
            &:not(:last-child) {
                margin-bottom: 1em;
                border-bottom: 1px solid $flex-border;
                @media (min-width: $screen-md) {
                    border-bottom: none;
                    margin-bottom: 0;
                }
            }
        }

        .stm-flex-new__item {
            padding: 0.7em 1em;
            flex: 1;
            border-top: 1px solid $flex-border;
            border-left: 1px solid $flex-border;

            &.red {
                color: $color-red;
            }
        }
    }
}

.stm-flex {
    padding: 2em;
    .stm-flex-wrap {
        display: flex;
        @media (min-width: $screen-md) {
            margin-bottom: 3em;
            display: block;
        }
    }
    .stm-flex-row {
        flex: 1;
        &:first-child {
            flex: 0 1 30%;
        }
        @media (min-width: $screen-md) {
            display: flex;
        }

        &.separator {
            margin-top: 1em;
            border-top: 1px solid #ddd;
        }
        .stm-flex-row__item {
            padding: 0.6em 1em;
            //white-space: nowrap;
            //overflow: hidden;
            //text-overflow: ellipsis;
            &:first-child {
                border-top: 1px solid #ddd;
            }
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            @media (min-width: $screen-md) {
                font-size: 0.9em;
                border-top: none;
            }
            flex: 1;
            &.font-center {
                text-align: center;
            }
            &:first-child {
                //border-left: 1px solid #ddd;
                @media (min-width: $screen-md) {
                    border-left: 1px solid #ddd;
                    &.bg-black {
                        // border-left-color: #111;
                        // border-color: #111;
                    }
                }
            }
            &.flex-4 {
                flex: 0 1 4%;
            }
            &.flex-7 {
                flex: 0 1 7%;
            }
            &.flex-12 {
                flex: 0 1 12%;
            }
            &.flex-15 {
                flex: 0 1 15%;
            }
            &.flex-17 {
                flex: 0 1 17%;
            }
            &.flex-20 {
                flex: 0 1 20%;
            }
            &.flex-30 {
                flex: 0 1 30%;
            }
            &.flex-35 {
                flex: 0 1 35%;
            }
            &.flex-50 {
                flex: 0 1 50%;
            }
            &.rma-link {
                font-weight: 600;
            }
            &.bold {
                font-weight: 600;
            }
            &.primary {
                color: $primary;
            }
            &.red {
                color: $red;
            }

            &.header {
                font-weight: 600;
                background-color: $invoice-header;
                font-size: 0.6em;
                @media (min-width: $screen-md) {
                    font-size: 0.8em;
                }
            }

            &.bg-blue {
                background-color: $info;
                color: #fff;
                border-color: $info;
                text-transform: uppercase;
                font-weight: 600;
                text-shadow: rgba(255, 255, 255, 1);
                &:not(:last-child) {
                    border-right-color: lighten($info, 20%);
                }
            }

            &.bg-black {
                background-color: #111;
                color: #fff;
                text-transform: uppercase;
                font-weight: 600;
                border-color: #111;
                border-bottom-color: #555;
                @media (min-width: $screen-md) {
                    border-bottom-color: #111;
                    &:not(:last-child) {
                        border-right-color: #555;
                    }
                }
            }

            &.status-1 {
                background-color: darken($brand-fifth, 13%);
                color: #fff;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
            }
            &.status-2 {
                background-color: $color-red;
                color: #fff;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
            }
            &.status-3 {
                background-color: $color-green;
                color: #fff;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
            }
            &.status-4 {
                background-color: #111;
                color: #fff;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
            }
        }
        // font adjustments
        &.font-small {
            .stm-flex-row__item {
                font-size: 0.6em;
                @media (min-width: $screen-md) {
                    font-size: 0.8em;
                }
            }
        }
        &.font-bold {
            .stm-flex-row__item {
                font-weight: 600 !important;
            }
        }
        // misc
        &:first-child {
            .stm-flex-row__item {
                @media (min-width: $screen-md) {
                    //border-top: 1px solid #ddd;
                }
            }
        }
    }
}
