.stm-flex {
    padding: 2em;
    .stm-flex-wrap {
        margin-bottom: 3em;
    }
    .stm-flex-row {
        display: flex;
        &.separator {
            margin-top: 1em;
            border-top: 1px solid #ddd;
        }
        .stm-flex-row__item {
            padding: 0.6em 1em;
            font-size: 0.9em;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            flex: 1;
            &.font-center {
                text-align: center;
            }
            &:first-child {
                border-left: 1px solid #ddd;
            }
            &.flex-4 {
                flex: 0 1 4%;
            }
            &.flex-7 {
                flex: 0 1 7%;
            }
            &.flex-12 {
                flex: 0 1 12%;
            }
            &.flex-15 {
                flex: 0 1 15%;
            }
            &.flex-17 {
                flex: 0 1 17%;
            }
            &.flex-20 {
                flex: 0 1 20%;
            }
            &.flex-30 {
                flex: 0 1 30%;
            }
            &.flex-35 {
                flex: 0 1 35%;
            }
            &.flex-50 {
                flex: 0 1 50%;
            }
            &.rma-link {
                font-weight: 600;
            }
            &.bold {
                font-weight: 600;
            }
            &.primary {
                color: $primary;
            }
            &.red {
                color: $red;
            }

            &.header {
                font-weight: 600;
                background-color: $invoice-header;
                font-size: 0.8em;
            }

            &.bg-blue {
                background-color: $info;
                color: #fff;
                border-color: $info;
                text-transform: uppercase;
                font-weight: 600;
                text-shadow: rgba(255, 255, 255, 1);
                &:not(:last-child) {
                    border-right-color: lighten($info, 20%);
                }
            }

            &.bg-black {
                background-color: #111;
                color: #fff;
                border-color: #111;
                text-transform: uppercase;
                font-weight: 600;
                &:not(:last-child) {
                    border-right-color: #555;
                }
            }

            &.status-1 {
                background-color: darken($brand-fifth, 13%);
                color: #fff;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
            }
            &.status-2 {
                background-color: $color-red;
                color: #fff;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
            }
            &.status-3 {
                background-color: $color-green;
                color: #fff;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
            }
            &.status-4 {
                background-color: #111;
                color: #fff;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
            }
        }
        // font adjustments
        &.font-small {
            .stm-flex-row__item {
                font-size: 0.8em;
            }
        }
        &.font-bold {
            .stm-flex-row__item {
                font-weight: 600 !important;
            }
        }
        // misc
        &:first-child {
            .stm-flex-row__item {
                border-top: 1px solid #ddd;
            }
        }
    }
}
