body.stm-body {
    h1.title {
        text-align: center;
        font-size: 1em;
        margin: 0 0 13px 0;
        .with-background {
            margin-top: 13px;
            border-radius: 10px 10px 0 0;
            @include teal_background;
        }

        @media (min-width: $screen-sm) {
            text-align: left;
        }
        span {
            color: $color-red;
        }
    }
    .stm-subtitle {
        font-weight: 600;
        font-size: 1.4em;
    }
}
