// users archive
.users-wrap	{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-flow: row;
	a.user-wrap {

		//@include background_gradient;
		background-color: #FFF;
		display: block;
		color: #333;
		font-weight: 700;
		display: flex;
		align-items: center;

		.flex-item {
			font-size: 12px;
			white-space: no-wrap;

			&.icon-wrap {
				background-color: rgba(0,0,0,0.03);
				flex: 0 1 10%;
				padding: 25px 15px;
			}

			&.company-wrap {
				font-size: 15px;	
				flex: 0 1 35%;
				padding: 0 20px;
			}
			&.name-phone-wrap {
				flex: 0 1 55%;
				padding: 0 10px;
				.name {
					font-size: 13px;
				}
				.phone {
					color: #777;
				}
			}
		}

		&:hover {
			background: $brand-primary;
			border-color: $brand-primary;
			color: #FFF;
			.flex-item {
				&.name-phone-wrap {
					.phone {
						color: #DDD;
					}
				}
			}
		}

	}
}

// users single
.single-user-wrap {

	background-color: #FBFBFB; // use a mixin for this?
	border: 1px solid #E5E5E5;
	display: inline-block;
	padding: 5px 20px;
	border-radius: 10px;
	font-weight: 700;
	white-space: nowrap;
	color: #555;
	.flex-wrap {
		display: flex;
		align-items: center;
		i {
			margin-right: 15px;
			font-size: 1.2em;
			color: #AAA;
			width: 30px;
			text-align: center;
		}
	}
	.item {
		padding: 5px 0;
	}
	.company {
		font-size: 2.6em;
		font-weight: 800;
		color: $brand-primary;
		border-bottom: 2px solid #DDD;
		padding-bottom: 0px;
		margin-bottom: 7px;
	}
	.name span {
		font-size: 1.8em;
		//color: #555;
	}
	.role span {
		//color: $color-red;
		font-size: 1.5em;
	}
	.email span {
		font-size: 1.3em;
	}
	.phone span {
		//color: #555;
		font-size: 1.5em;
	}
	.credit span {
		font-size: 1.5em;
		span.credit-val {
			color: $color-red;
			//font-size: 1.1em;
			font-size: 1em;
		}
	}
	.address-wrap {
		.address {
			font-size: 1.5em;
			//color: #555;
		}
		.city_state_zip {
			font-size: 1.2em;
			color: #666;
		}
	}
}

.button-bar {
	padding: 20px 0;
	a {
		margin-right: 10px;
	}
}







