// extends grid.scss
.users-wrap {
    a.user-wrap {
        .flex-item {
            &.company-wrap {
                //font-size: 15px;
                font-size: 0.9em;
                flex: 0 1 45%;
                padding: 0 20px;
            }
            &.name-phone-wrap {
                flex: 0 1 45%;
                padding: 0 10px;
                .name {
                    font-size: 13px;
                }
                .phone {
                    color: #777;
                }
            }
        }

        &:hover {
            .flex-item {
                &.name-phone-wrap {
                    .phone {
                        color: #ddd;
                    }
                }
            }
        }
    }
}

// users single
// @todo redundant with all-users.scss?
.single-user-wrap {
    background-color: #fbfbfb; // use a mixin for this?
    border: 1px solid #e5e5e5;
    @media (min-width: $screen-md) {
        display: inline-block;
    }
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: 700;
    white-space: nowrap;
    color: #555;
    min-width: 100%;
    .flex-wrap {
        display: flex;
        align-items: center;
        i {
            margin-right: 15px;
            font-size: 1.2em;
            color: #aaa;
            width: 30px;
            text-align: center;
            &.fa-user-plus,
            &.fa-user-minus {
                padding-left: 5px;
            }
            &.fa-dollar-sign {
                font-size: 1.5em;
            }
        }
    }
    .item {
        padding: 5px 0;
        span {
            font-size: 1.2em;
        }
    }
    .company {
        font-size: 2.4em;
        font-weight: 700;
        color: $brand-primary;
        border-bottom: 2px solid #ddd;
        padding-bottom: 0px;
        margin-bottom: 7px;
    }
    .name span {
        font-size: 1.8em;
        //color: #555;
    }
    .role span {
        //color: $color-red;
        //font-size: 1.5em;
    }
    .email span {
        //font-size: 1.3em;
    }
    .phone span {
        //color: #555;
        //font-size: 1.5em;
    }
    .credit-bonus span {
        span.bonus-val,
        span.credit-val {
            font-size: 1em;
            margin-left: 5px;
        }
        span.bonus-val {
            color: $color-green-text;
        }
        span.credit-val {
            color: $color-red;
        }
    }
    .address-wrap {
        font-size: 1.2em;
        .address {
            //font-size: 1.5em;
            //color: #555;
        }
        .city_state_zip {
            font-size: 0.8em;
            color: #666;
        }
    }
}

.users-flex-wrap {
    @media (min-width: $screen-md) {
        display: flex;
        .users-left-content {
            flex-basis: 50%;
        }
    }
    .notes-wrap {
        margin-top: 15px;
        @media (min-width: $screen-md) {
            flex-basis: 50%;
            margin-top: 0;
            margin-left: 30px;
        }
        padding: 15px;
        background-color: #fbfbfb;
        border: 1px solid #e5e5e5;
        border-radius: 10px;
        width: 100%;
        label {
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
        }
        .notes-list-wrap {
            padding-top: 15px;
            .note {
                background-color: #fdfdfd;
                border: 1px solid #e3e3e3;
                border-radius: 5px;
                margin-bottom: 20px;
                padding-right: 10px;
                overflow: hidden;
                font-weight: bold;
                font-size: 0.8em;
                .note-header {
                    border-bottom: 1px solid #e3e3e3;
                    display: flex;
                    align-items: center;
                }
                .note-body {
                    font-weight: normal;
                    color: #333;
                    padding: 10px;
                }
                span {
                    padding: 10px;
                    font-size: 1.1em;
                    &.date {
                        border-right: 1px solid #e3e3e3;
                        color: $brand-primary;
                    }
                    &.user {
                        color: #333;
                    }

                    &.icon {
                        flex: 1;
                        display: flex;
                        justify-content: flex-end;
                        i {
                            font-size: 1.7em;
                            color: $color-red;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        button {
            margin: 10px 0 5px;
        }
    }
    .button-bar-wrap {
        .button-bar {
            @media (min-width: $screen-md) {
                width: 100% !important;
            }
        }
    }
    .reports-wrap {
        padding-top: 20px;
        .report-wrap {
            border-radius: 10px;
            h3.recharge-title {
                font-weight: bold;
                font-size: 1.5em;
                margin: 5px 5px 15px 5px;
                border-bottom: 1px solid #eee;
                padding-bottom: 7px;
            }
        }
    }
}

.notes-checkbox-field {
    margin: 5px 0;
    label {
        font-weight: bold;
    }
    input {
        margin-right: 5px;
        margin-top: -4px;
        vertical-align: middle;
    }
}

.user-back-mixin-wrap {
    display: inline-block;
    a.user-back-mixin-link {
        @include normal_background;
        padding: 0;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        //background-color: $brand-primary;
        background-color: $color-red;
        border-radius: 5px;
        i {
            color: #fff;
            font-size: 2em;
            padding: 0 5px 0 3px;
        }
        span {
            color: $brand-primary;
            font-weight: bold;
            padding: 5px 12px 5px 10px;
            background-color: #fff;
            font-size: 1.2em;
            border-radius: 0 5px 5px 0;
        }
        &:hover {
            opacity: 0.7;
        }
    }
}

.transfer-balance {
    padding-bottom: 1.5em;
    .transfer-balance__item {
        span {
            font-weight: 600;
        }
    }
    .transfer-balance__form {
        input {
            @media (min-width: $screen-sm) {
                max-width: 7em;
            }
        }
    }
}
