.users-wrap	{
  	display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    //grid-template-rows: 100px 100px 100px;
    grid-auto-flow: row;
  	.user-wrap {

  		a {
	  		background: #F3F3F3;
	  		border: 1px solid #E6E6E6;
	  		padding: 20px;
	  		display: block;
	  		color: #333;
	  		font-weight: 700;

	  		&:hover {
	  			background: $brand-primary;
	  			color: #FFF;
	  		}
  		}
  	}
}