.user-plan-section {

	background-color: #FFF;
	@include normal_background;
	font-size: 0.8em;
	label.label {
		font-size: 0.8em;
	}
	@media(min-width: $screen-md) {
		max-width: 75%;
		font-size: 1em;
		label.label {
			font-size: 1em;
		}
	}
	margin-bottom: 20px;

	h4 {
		font-weight: 700;
		font-size: 1.4em;
		margin-bottom: 15px;
	}

	.flex-section {
		@media(min-width: $screen-sm) {
			display: flex;
		}
		justify-content: space-between;
		padding: 10px 17px;
		background: #FAFAFA;
		border: 1px solid #EEE;

		>div {
			flex: 0 1 21%;

			&.one {
				flex: 0 1 38%;
			}

			&.four {
				flex: 0 1 12%;
				input {
					width: 100%;
				}
			}
		}
	}

	.add-user-data-form {

		// padding: 10px;
		// background: #FAFAFA;
		// border: 1px solid #EEE;
		// display: flex;
		// justify-content: space-between;

		.field {
			//flex: 0 1 21%;

			&.report_type {
				//flex: 0 1 29%;
				.select {
					width: 100%;
					select {
						width: 100%;
					}
				}
			}

			&.update {
				//flex: 0 1 20%;
				display: flex;
				//justify-content: center;
				align-items: flex-end;
				padding-bottom: 0.8em;
			}
		}
		
	}

	.user-plan-item {
		//display: flex;
		// padding: 10px;
		// background: #FAFAFA;
		// border: 1px solid #EEE;
		margin: 10px 0;

		.data {
			//flex: 0 1 22%;
			//margin: 0 2%;
			label {
				font-size: 1em;
			}
			div {
				font-size: 1em;
				font-weight: 700;
			}
		}


	}

}